aws_region                   = "us-east-1"
project                      = "lab10"
environment                  = "dev"
owner                        = "tu.correo@dominio.com"
permission_model             = "SERVICE_MANAGED"
call_as                      = "SELF"            # "DELEGATED_ADMIN" si corres desde una cuenta delegada
organization_id              = "o-xxxxxxxxxx"
target_ou_ids                = ["ou-xxxx-xxxxxxxx"]
target_account_ids           = []                # solo SELF_MANAGED
target_regions               = ["us-east-1", "us-west-2"]
audit_account_id             = null
enable_config_rules          = false
baseline_version             = "1.0.0"
max_concurrent_percentage    = 25
failure_tolerance_percentage = 10
security_emails              = ["seguridad@dominio.com"]
