aws_region            = "us-east-1"
project               = "aie"
environment           = "dev"
owner                 = "tu.correo@dominio.com"
vpc_cidr              = "10.80.0.0/16"
engine_version        = null          # o p. ej. "1.4.x.x"
neptune_family        = "neptune1.4"  # debe coincidir con engine_version
min_ncu               = 1
max_ncu               = 4
instance_count        = 1             # 2 para HA (réplica en otra AZ)
backup_retention_days = 7
deletion_protection   = false
