project_id            = "mi-proyecto-labs"
region                = "us-central1"
environment           = "dev"
owner                 = "axel"
app_subnet_cidr       = "10.50.0.0/24"
machine_type          = "e2-small"
min_replicas          = 2
max_replicas          = 4
db_version            = "POSTGRES_16"
db_tier               = "db-custom-1-3840"
db_high_availability  = true  # false para ahorrar en pruebas cortas
db_disk_gb            = 10
rate_limit_per_minute = 300
domain                = null  # "app.midominio.com" para HTTPS
deletion_protection   = false # true en producción
