project_id            = "mi-proyecto-labs"
region                = "us-central1"
environment           = "dev"
owner                 = "axel"
build_service_account = "projects/mi-proyecto-labs/serviceAccounts/lab11-dev-builder@mi-proyecto-labs.iam.gserviceaccount.com"
model                 = "gemini-2.5-flash"
vertex_location       = "global"
invoker_members       = ["user:tu.correo@dominio.com"]
blocked_topics        = ["invertir en acciones", "criptomonedas", "bitcoin"]
history_turns         = 6
max_output_tokens     = 512
max_instances         = 3
