project_id                 = "mi-proyecto-labs"
region                     = "us-central1"
environment                = "dev"
owner                      = "axel"
data_access_audit_services = ["storage.googleapis.com", "secretmanager.googleapis.com", "iam.googleapis.com", "bigquery.googleapis.com"]
log_retention_days         = 365
lock_log_bucket            = false # IRREVERSIBLE si es true
archive_retention_days     = 365
security_emails            = ["seguridad@dominio.com"]
# La SA de apply del micro lab 00 necesita estar exceptuada si debe gestionar sinks
deny_exception_principals = [
  "principal://iam.googleapis.com/projects/-/serviceAccounts/aie-dev-tf-apply@mi-proyecto-labs.iam.gserviceaccount.com",
]
rbac_members = {
  developer = ["group:devs@dominio.com"]
  sre       = ["group:sre@dominio.com"]
  auditor   = ["group:auditoria@dominio.com"]
  finops    = []
}
break_glass_members = ["user:oncall@dominio.com"]
break_glass_until   = null # "2026-10-31T23:59:59Z"
org_id              = null
access_policy_id    = null
